servicediscovery/data/servicegroundings/GraingerWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="GraingerWebService"
    targetNamespace="http://localhost:8080/GraingerWebService.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://localhost:8080/GraingerWebService.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <message name="stringResponse">
        <part name="partDescription" type="xsd:string"/>
    </message>
    <message name="stringRequest">
        <part name="partNumber" type="xsd:string"/>
	<part name="manufacturer" type="xsd:string"/>
    </message>
    <message name="booleanResponse">
        <part name="partAvailability" type="xsd:boolean"/>
    </message>
    <message name="floatResponse">
        <part name="partPrice" type="xsd:float"/>
    </message>
    
    <portType name="GraingerWebServicePortType">
        <operation name="getPartDescription">
            <documentation>Returns part description as displayed on www.grainger.com</documentation>
            <input message="tns:stringRequest"/>
            <output message="tns:stringResponse"/>
        </operation>
    
        <operation name="getPartPrice">
            <documentation>Returns price for part as displayed on www.grainger.com</documentation>
            <input message="tns:stringRequest"/>
            <output message="tns:floatResponse"/>
        </operation>
        
	<operation name="isAvailable">
            <documentation>Returns true if part is currently available through www.grainger.com</documentation>
            <input message="tns:stringRequest"/>
            <output message="tns:booleanResponse"/>
        </operation>
    </portType>
    
    <binding name="GraingerWebServiceBinding" type="tns:GraingerWebServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    
        <operation name="getPartDescription" style="rpc">
            <soap:operation soapAction="getPartDescription"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:GraingerWebService"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:GraingerWebService"
                    use="encoded"/>
            </output>
        </operation>
    
        <operation name="getPartPrice">
            <soap:operation soapAction="getPartPrice" style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:GraingerWebService"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:GraingerWebService"
                    use="encoded"/>
            </output>
        </operation>
        
	<operation name="isAvailable">
            <soap:operation soapAction="isAvailable" style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:GraingerWebService"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:GraingerWebService"
                    use="encoded"/>
            </output>
        </operation>
    </binding>
    
    <service name="GraingerWebService">
    	<documentation>Returns upto date information from www.grainger.com</documentation>
        <port binding="tns:GraingerWebServiceBinding" name="GraingerWebServicePort">
            <soap:address location="http://localhost/soap/servlet/rpcrouter"/>
	    <!--soap:address location="http://129.49.16.207/soap/servlet/rpcrouter"/-->
        </port>
    </service>

</definitions>