servicediscovery/data/servicegroundings/NewarkWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="NewarkWebService"
    targetNamespace="http://localhost:8080/NewarkWebService.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://localhost:8080/NewarkWebService.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <message name="floatResponse">
        <part name="partPrice" type="xsd:float"/>
    </message>

    <message name="stringResponse">
        <part name="partDescription" type="xsd:string"/>
    </message>

    <message name="stringRequest">
        <part name="partNumber" type="xsd:string"/>
        <part name="manufacturerName" type="xsd:string"/>
    </message>

    <message name="booleanResponse">
        <part name="partAvailability" type="xsd:boolean"/>
    </message>
    
    <portType name="NewarkWebServicePortType">
        <operation name="getPartDescription">
            <documentation>Returns part description as displayed on www.newark.com</documentation>
            <input message="tns:stringRequest"/>
            <output message="tns:stringResponse"/>
        </operation>
        
	<operation name="getPartPrice">
            <documentation>Returns price of part as displayed on www.newark.com</documentation>
            <input message="tns:stringRequest"/>
            <output message="tns:floatResponse"/>
        </operation>
        
	<operation name="isAvailable">
	    <documentation>Returns true if part is currently available through www.newark.com</documentation>
            <input message="tns:stringRequest"/>
            <output message="tns:booleanResponse"/>
        </operation>
    </portType>
    
    <binding name="NewarkWebServiceBinding" type="tns:NewarkWebServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        
	<operation name="getPartDescription" style="rpc">
            <soap:operation soapAction="getPartDescription"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:NewarkWebService"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:NewarkWebService"
                    use="encoded"/>
            </output>
        </operation>
        
	<operation name="getPartPrice">
            <soap:operation soapAction="getPartPrice" style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:NewarkWebService"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:NewarkWebService"
                    use="encoded"/>
            </output>
        </operation>
        
	<operation name="isAvailable">
            <soap:operation soapAction="isAvailable" style="rpc"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:NewarkWebService"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:NewarkWebService"
                    use="encoded"/>
            </output>
        </operation>
    </binding>
    
    <service name="NewarkWebService">
        <documentation>Returns upto date information from www.newark.com</documentation>
        <port binding="tns:NewarkWebServiceBinding" name="NewarkWebServicePort">
            <soap:address location="http://localhost/soap/servlet/rpcrouter"/>
	    <!--soap:address location="http://129.49.16.207/soap/servlet/rpcrouter"/-->
        </port>
    </service>

</definitions>